# Environment and OS
.env
.DS_Store
venv/
wslvenv/
__pycache__/
*.pyc

# Writeups stored in project dir for organizational sake but do not upload
DOCS/


# Scripts
scripts/*
!scripts/cleanup_expired.py

# IDE and tools
.vscode/

# Coverage, test artifacts, and logs
.coverage
*.log
*/*.log

# Dev scratch folders (user-defined)
documents/
scratch/
qaptools/
inputs/
backup/

# Build artifacts
build/
dist/
*.zkey
*.wtns
*.r1cs
*.sym

# Runtime
uploads/
logs/
db/
artifacts/tmp_*
tests/tmp


# Node dependencies
node_modules/
client/ezra/src/ezra/resources/node/bin/
client/ezra/src/ezra/resources/node/package-lock.json
client/ezra/src/ezra/resources/node/package.json

# Public upload files
server/uploads/*
!server/uploads/.gitkeep

# Only keep real tests
server/tests/*
!server/tests/*.py

# File containers
*.ezra
*.ezrm

# Working dir
server/working_dir/
!server/working_dir/.gitkeep
