venv/ 
wslvenv/
__pycache__/
".vscode/" 
documents/
scratch/
qaptools/
inputs/
backup/
node_modules/
# Dont track uploads, but keep uploads/ empty dir tracked
uploads/*
!uploads/.gitkeep
# Ignore specific file types ONLY inside working_dir/
working_dir/*.r1cs
working_dir/*.wtns
working_dir/*.json
working_dir/*.zkey
working_dir/*.ptau
working_dir/*.sym
working_dir/proof.json
working_dir/public.json
# Ignore snarkjs-generated WASM/JS
working_dir/poseidon_preimage_js/

client/tmp/

*.pyc
*.log
# Sanity ignores just in case they are generated outside of working_dir and I didn't catch it
*.zkey
*.wtns
*.r1cs
*.sym