venv/ 
wslvenv/
__pycache__/
".vscode/" 
documents/
scratch/
qaptools/
inputs/
backup/
node_modules/
# Ignore specific file types ONLY inside working_dir/
working_dir/*.r1cs
working_dir/*.wtns
working_dir/*.json
working_dir/*.zkey
working_dir/*.ptau
working_dir/*.sym
# Ignore snarkjs-generated WASM/JS
working_dir/poseidon_preimage_js/
