briefcase==0.3.22
packaging==24.2
pip==24.3.1
setuptools==78.1.0
wheel==0.46.1
packaging==24.2
build==1.2.2.post1
packaging==24.2
pyproject_hooks==1.2.0
cookiecutter==2.6.0
binaryornot==0.4.4
chardet==5.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
click==8.1.8
PyYAML==6.0.2
python-slugify==8.0.4
text-unidecode==1.3
requests==2.32.3
charset-normalizer==3.4.1
idna==3.10
urllib3==2.3.0
certifi==2025.1.31
arrow==1.3.0
python-dateutil==2.9.0.post0
six==1.17.0
types-python-dateutil==2.9.0.20241206
rich==13.9.4
markdown-it-py==3.0.0
mdurl==0.1.2
Pygments==2.19.1
dmgbuild==1.6.5
ds-store==1.3.1
mac-alias==2.2.2
mac-alias==2.2.2
GitPython==3.1.44
gitdb==4.0.12
smmap==5.0.2
platformdirs==4.3.7
psutil==6.1.1
python-dateutil==2.9.0.post0
six==1.17.0
httpx==0.28.1
anyio==4.9.0
idna==3.10
sniffio==1.3.1
certifi==2025.1.31
httpcore==1.0.7
certifi==2025.1.31
h11==0.14.0
idna==3.10
rich==13.9.4
markdown-it-py==3.0.0
mdurl==0.1.2
Pygments==2.19.1
tomli_w==1.2.0
coverage==7.8.0
cryptography==44.0.2
cffi==1.17.1
pycparser==2.22
Flask==3.1.0
Werkzeug==3.1.3
MarkupSafe==3.0.2
Jinja2==3.1.6
MarkupSafe==3.0.2
itsdangerous==2.2.0
click==8.1.8
blinker==1.9.0
importlib_metadata==8.6.1
zipp==3.21.0
pipdeptree==2.26.0
packaging==24.2
pip==24.3.1
PySNARK @ git+https://github.com/meilof/pysnark@02eb721d7327ced1328783c820b25d5e39575dbc
pytest==8.3.5
iniconfig==2.1.0
packaging==24.2
pluggy==1.5.0
python-dotenv==1.1.0
python-magic==0.4.27
std-nslog==1.0.3
toga==0.5.0
toga-cocoa==0.4.9
fonttools==4.57.0
rubicon-objc==0.4.9
toga-core==0.4.9
travertino==0.3.0
toga-gtk==0.5.0
pycairo==1.27.0
PyGObject==3.50.0
pycairo==1.27.0
toga-core==0.4.9
travertino==0.3.0
