<h1>DMCA / Takedown Policy</h1>
<p><strong>Last updated:</strong> April 2025</p>

<p>
EZRA is an ephemeral, encrypted file transfer system. We do not view, store, or index user-uploaded content, and we are unable to decrypt files or determine their contents.
</p>

<p>
If you believe your copyrighted content has been made available via this service, please submit a takedown request including:
</p>

<ul>
  <li>Your full legal name and contact information</li>
  <li>A description of the work you believe is being infringed</li>
  <li>The corresponding secret of the file you wish us to remove</li>
  <li>A statement under penalty of perjury that the information you provide is accurate</li>
</ul>

<!--<p>Send requests to: <code>dmca@ihavenodomainyet.com</code></p>-->

<p>
Please note that due to the encrypted and anonymous nature of this system, we may be unable to act on requests unless specific technical identifiers are provided.
</p>
